@import url("https://fonts.cdnfonts.com/css/butler");
@import url("https://fonts.cdnfonts.com/css/fournier-mt-std");
/* font-family: 'Fournier MT Std', sans-serif; */
@import url("https://fonts.cdnfonts.com/css/walbaum-60pt");
/* font-family: 'Walbaum 60pt', sans-serif; */
html {
  scroll-behavior: smooth;
}
* {
  margin: 0;
  box-sizing: border-box;
  outline: none;
}
body {
  color: #fff;
  background-color: #000;
  font-family: "Space Grotesk", sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Butler", sans-serif;
}
h1 {
  font-size: 6.7rem;
}
h2 {
  font-size: 3rem;
}
h3 {
  font-size: 2rem;
}
.container {
  max-width: 1166px;
  margin: 0 auto;
}
header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 10px 5%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  z-index: 9;
}
.navigation-items {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  z-index: 99;
}
.right-menu {
  margin-right: 6vw;
}

header .navigation-items ul li {
  list-style: none;
  display: inline-block;
  margin: 0 50px;
}
header .navigation-items ul li a {
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 1.1vw;
  position: relative;
}

header .navigation-items ul li a:before {
  content: "";
  position: absolute;
  background-color: #fff;
  width: 0;
  height: 3px;
  bottom: -3px;
  left: 0;
  transition: 0.3s ease;
}
header .navigation-items ul li a:hover::before {
  width: 100%;
}
.rmenu {
  display: none;
}
.logo720 {
  display: none;
}
.logo {
  font-family: "Walbaum 60pt", sans-serif;
  font-weight: 800;
  font-size: 3rem;
  letter-spacing: 1rem; /*Espaciado entre letra y letra */
  color: #f97822;
}
.leftlogo {
  display: none;
}
.banner {
  height: 100vh;
  background: url(img/hero-image.jpg);
  background-size: cover;
  background-position: top;
  display: flex;
  align-items: flex-end;
}
.banner .text {
  text-align: center;
  padding-bottom: 9.25rem;
}
.banner h1 {
  line-height: 6rem;
  font-weight: 300;
  margin-bottom: 2rem;
}
.banner p {
  font-size: 1.4rem;
}
/* Global BUTTON STYLE */
.btn {
  position: relative;
  display: inline-block;
  width: 16rem;
  height: 4rem;
  background-color: #fff;
  color: #000;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  line-height: 4rem;
  z-index: 9;
  margin-top: 3.5rem;
  transition: all ease 0.5s;
  margin-right: auto;
  margin-left: auto;
}
.btn:before {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 0;
  background-color: #000;
  opacity: 0.9;
  z-index: -1;
  transition: all ease 0.5s;
}
.btn:hover {
  color: #fff;
}
.btn:hover:before {
  top: 0;
  height: 100%;
}
.brand-logo {
  padding: 1.3rem 0;
}
.brand-logo-inner {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.sec1 {
  position: relative;
  padding: 5rem 0;
}

.sec1 h3 {
  text-transform: uppercase;
  line-height: 2.5rem;
}
.sec1 p {
  line-height: 1.8rem;
}
.sec1-inner {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.sec1 .text {
  width: 47%;
}
.sec1 .text-left {
  text-align: right;
}
.sec1 .text-rigth {
  text-align: left;
}
.sec1::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background: linear-gradient(to left, transparent, #fff, transparent);
}
.sec1::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background: linear-gradient(to left, transparent, #fff, transparent);
}
.sec2 {
  padding: 6.25rem 0 0;
}
.sec2 h2 {
  text-transform: uppercase;
}
.sec2 p {
  line-height: 1.3rem;
}
.sec2-inner {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.sec2-inner .img {
  width: auto;
}
.img img {
  width: 30rem;
}
.sec2-inner .text {
  width: 50%;
  margin-left: -4rem;
  z-index: 9;
}

.sec2-inner .text-inner {
  position: relative;
  margin: 1rem 0 0 11rem;
}
.sec2 .text-inner::before {
  content: "";
  position: absolute;
  top: 0.5rem;
  left: -15%;
  width: 1px;
  height: 100%;
  background: linear-gradient(to top, transparent, #fff);
}
.left-right-sec:nth-child(even) .text {
  margin-right: -4rem;
  text-align: right;
}
.left-right-sec:nth-child(even) .text-inner {
  margin: 3.5rem 11rem 0 0rem;
}
.left-right-sec:nth-child(even) .text-inner::before {
  left: inherit;
  right: -15%;
}
/* .text-inner h2 {
  margin-bottom: 1rem;
} */
/* .hero-image {
  background: url(img/—Pngtree—unicorn\ colorful\ pastel\ milky\ rainbow_1600419.jpg)
    no-repeat;
  background-size: cover;
} */
/* .home {
  position: relative;
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  
  padding-top: 32px;
} */
.media-icons {
  z-index: 9999;
  position: fixed;
  top: 40%;
  right: 10px;
  display: flex;
  flex-direction: column;
  transition: 0.5s ease;
  width: 30px;
}

.media-icons a {
  color: #fff;
  font-size: 1.5rem;
  transition: 0.3s ease;
}
.media-icons a:not(:last-child) {
  margin-bottom: 20px;
}
.media-icons a:hover {
  transform: scale(1.3);
}
.container-3 {
  max-width: 1166px;
  margin: 0 auto;
}
.sec3-inner .img {
  width: auto;
}
.sec3-slider img {
  width: 98%;
}

.sec3 {
  padding: 9.5rem 0 0;
}
.sec3 h2 {
  text-transform: uppercase;
  max-width: 60%;
}
.sec3-slider {
  margin-top: 5.5rem;
  margin-left: 1.3rem;
}

.slick-arrow {
  position: absolute;
  top: -10rem;
}
.slick-prev {
  left: inherit;
  right: 11.25rem;
}
.slick-next {
  right: 5.6rem;
}
.slick-next::before,
.slick-prev::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  background: #fff url(img/arrow-next.svg) no-repeat;
  background-size: 1rem;
  background-position: center;
  width: 4.5rem;
  height: 4.5rem;
  line-height: 4.5rem;
  border: 1px solid #fff;
  opacity: 1;
}
.slick-prev::before {
  background: url(img/arrow-prev.svg) no-repeat;
  background-size: 1rem;
  background-position: center;
}

.sec4 {
  padding: 100px 0;
}
.sec4 h2 {
  text-transform: uppercase;
}
.sec4-boxes {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 5.6rem;
}

.box {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 23%;
  height: 23vh;
  min-height: 17rem;
  margin-bottom: 2.5rem;
  overflow: hidden;
  border: 1px solid #fff;
}
.box h6 {
  /* font-family: ; */
  position: absolute;
  font-size: 1.3rem;
  font-weight: 400;
}
.sec4-boxes .img {
  position: relative; /* EST ESTABA EN ABSOLUTE */
  top: 0;
  left: 0;
  z-index: -1;
  opacity: 0;
  transition: all ease 1s;
  width: 100%;
  height: 100%; /* WIDTH Y HEIGTH NO ESTABAN */
}
.box:hover .img {
  opacity: 1;
}
.box:hover h6 {
  font-size: 0;
}
.box .img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 0 60%; /* OBJECT FIT Y POSITION NO ESTABAN */
  /* align-items: center; */ /* este estaba  */
  /* object-fit: cover;
  object-position: 90% 90%; */
  /*  border: 1px solid #fff; */
  /* top: 5000px; */
}
.box .img2 img {
  /* este no estaba lol */
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 0 0%;
}

footer {
  position: relative;
  padding: 50px 0;
}
.footer-inner {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.footer-inner .col {
  padding-right: 50px;
}
footer ul {
  margin-left: 0;
}
footer ul li {
  list-style: none;
  margin-bottom: 30px;
}
footer ul li a {
  text-decoration: none;
  color: #fff;
  font-size: 14px;
}
footer::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background: linear-gradient(to left, transparent, #fff, transparent);
}
footer::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background: linear-gradient(to left, transparent, #fff, transparent);
}
.logo-2 {
  font-family: "Walbaum 60pt", sans-serif;
  font-weight: 800;
  font-size: 3vw;
  letter-spacing: 1rem; /*Espaciado entre letra y letra */
  color: #f97822;
}
.copyrigth {
  padding: 25px 0;
  text-align: center;
}
.copyrigth p {
  font-size: 1.1rem;
}

@media only screen and (max-width: 1569px) {
  header .navigation-items ul li {
    margin: 0 10px;
  }
  header .navigation-items ul li a {
    font-size: 1.2rem;
    margin-right: 3vw;
  }
}
@media only screen and (max-width: 1350px) {
  header .navigation-items ul li {
    margin: 0 6px;
  }
  header .navigation-items ul li a {
    font-size: 1.2rem;
  }
}
@media only screen and (max-width: 1280px) {
  header .navigation-items ul li {
    margin: 0 5px;
  }
  header .navigation-items ul li a {
    font-size: 1.2rem;
  }
}
@media (max-width: 1040px) {
  .rmenu {
    display: flex;
    height: 50vh;
    /* width: -100vw; */
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .rmenu ul {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .rmenu ul a {
    /* height: 100%;
    width: 100%; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    align-content: center;
  }

  .none {
    display: none;
  }
  header {
    padding: 10px 20px;
  }
  header {
    display: none;
  }
  header.active {
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(1, 1, 1, 0.5);
  }
  header .navigation-items {
    background-color: #ffffff;
    width: 95vw;
    max-width: 600px;
    /* height: 70vh; */
    /* max-width: 600px; */
    margin: 1rem;
    padding: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 5px;
    box-shadow: 0 5px 25px rgb(1, 1, 1 /20%);
  }
  /* header .navigation-items .right-menu {
    flex-direction: column;
    align-items: center;
  } */
  header .navigation-items ul li a {
    color: #222;
    font-size: 1.2em;
    margin: 20px;
    display: flex;
    align-items: flex-start;
  }
  /* header .navigation-items ul li a {
    display: inline;
    padding: 800p 0;
  } */
  header .navigation-items ul li a::before {
    content: "";
    position: absolute;
    background-color: #000;
    width: 0;
    height: 3px;
    bottom: 0;
    left: 0;
    transition: 0.7s ease;
    /* z-index: 9; */
  }
  header .navigation-items ul li a:hover:before {
    width: 100%;
  }

  /* header .navigation-items a::before {
    background-color: #222;
    height: 3px;
  } */
  .menu-btn {
    background: url(img/icons8-menu-rounded-50.png) no-repeat;
    background-size: 40px;
    background-position: center;
    width: 100%;
    height: 40px;
    cursor: pointer;
    transition: 0.3s ease;
    position: absolute;
    top: 0.1%;
    left: 45%;
    padding: 5% 6%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    z-index: 99;
  }
  .menu-btn.active {
    z-index: 999;
    background: url(../img/icons8-close-30.png) no-repeat;
    background-size: 2rem;
    background-position: center;
    transition: 0.3s ease;
  }

  /* header.navigation.active {
    width: 100vw;
    height: 100vh;
    padding: 100px;
    line-height: 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
    background: rgba(1, 1, 1, 0.7);
  } */
  .img img {
    width: 45vw;
  }

  /* CAMBIOS
   */

  .sec2 h2 {
    /* text-transform: uppercase; */
    padding-bottom: 1rem;
  }
  .left-right-sec h2 {
    position: relative;
    left: 0.0000000001%;
  }

  .sec2-inner .text {
    width: 50%;
    margin-left: -6%;
  }

  .sec2-inner .text-inner {
    position: relative;
    margin: 1rem 0 0 30%;
  }

  .left-right-sec:nth-child(even) .text {
    /* margin-right: 6rem; */
    text-align: right;
  }
  .left-right-sec:nth-child(even) .text-inner {
    margin: 3.5rem 32% 0 0rem;
  }

  /* FIN CAMBIOS
    */
  .sec3 {
    padding: 9.5rem 0 0;
  }
  .sec3 h2 {
    text-transform: uppercase;
    max-width: 60%;
    margin-left: 3rem;
  }
  .sec3-slider {
    margin-top: 5.5rem;
    margin-left: 2rem;
    margin-right: 2rem;
  }
  .sec3-slider img {
    width: 98%;
  }
  .media-icons {
    right: 0px;
  }
  .sec4 h2 {
    text-transform: uppercase;
    margin-left: 3rem;
  }
  .box {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 19rem;
    min-height: 19rem;
    margin-bottom: 2.5rem;
    margin-left: 1rem;
    margin-right: 1rem;
    overflow: hidden;
    border: 1px solid #fff;
  }
  .box h6 {
    /* font-family: ; */
    font-size: 1.5rem;
    font-weight: 400;
  }
  .box .img img {
    width: 100%;
    height: 100%;
    /* align-items: center; */
    object-fit: cover;
    object-position: 0 60%;
    /*  border: 1px solid #fff; */
    /* top: 5000px; */
  }
  footer {
    position: relative;
    padding: 50px 0;
  }
  .footer-inner {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .footer-inner .col {
    padding-right: 35px;
  }
  footer ul {
    margin-left: 1px;
  }
  footer ul li {
    list-style: none;
    margin-bottom: 20px;
  }
  footer ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 14px;
  }
  .leftlogo {
    display: flex;
    position: absolute;
    top: 10px;
    left: 20px;
  }
}

@media (max-width: 720px) {
  header.navigation.active {
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(1, 1, 1, 0.5);
  }
  /* .logo720 {
  } */
  .menu-btn {
    top: 0.4%;
    left: 39%;
    padding: 5% 6%;
  }
  .media-icons {
    display: none;
  }
  h1 {
    font-size: 5rem;
  }
  h2 {
    font-size: 2rem;
  }
  h3 {
    font-size: 2rem;
  }
  /* CAMBIOS */
  .sec1 {
    position: relative;
    padding: 2rem 0;
  }

  .sec1 h3 {
    width: 100vw;
    text-transform: uppercase;
    line-height: 2.5rem;
    padding: 1% 2%;
  }
  .sec1 p {
    line-height: 1.8rem;
    padding: 1% 7%;
  }
  .sec1-inner {
    display: flex;
    justify-content: center;
  }
  .sec1 .text {
    width: 100%;
  }
  .sec1 .text-left {
    text-align: left;
    padding: 2rem;
  }
  .sec1 .text-rigth {
    text-align: left;
  }
  /* CAMBIOS2 */

  .footer-inner {
    display: flex;
    padding: 1% 10%;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .logo-2 {
    padding-bottom: 2rem;
  }
}
@media only screen and (max-width: 575px) {
  /* cambios */
  .sec2 {
    padding: 2.25rem 0 0;
  }
  .sec2 h2 {
    text-transform: uppercase;
  }
  .sec2 p {
    line-height: 1.3rem;
  }
  .sec2-inner {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
  .sec2-inner .img {
    /* width: auto; */
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .img img {
    width: 90%;
  }
  .sec2-inner .text {
    width: 100%;

    z-index: 9;
  }
  .sec2-inner .text p {
    width: 90%;
  }
  .sec2-inner .text h2 {
    width: 90%;
  }

  .sec2-inner .text-inner {
    width: 100vw;
    position: relative;
    margin: 1rem 0 0 2rem;
  }
  .sec2 .text-inner::before {
    content: "";
    position: absolute;
    top: 0.5rem;
    left: 90%;
    width: 1px;
    height: 100%;
    background: linear-gradient(to top, transparent, #fff);
  }
  .left-right-sec:nth-child(even) .text {
    margin-right: -4rem;
    text-align: right;
  }
  .left-right-sec:nth-child(even) .text-inner {
    margin: 3.5rem 11rem 0 0rem;
  }
  .left-right-sec:nth-child(even) .text-inner::before {
    right: 101%;
  }
  .btn {
    position: relative;
    display: inline-block;
    width: 16rem;
    height: 4rem;
    background-color: #fff;
    color: #000;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    line-height: 4rem;
    z-index: 9;
    margin-top: 1.5rem;
    margin-bottom: auto;
    margin-right: auto;
    transition: all ease 0.5s;
  }
  /* cambios sec4 */
  .sec3-inner .img {
    width: auto;
  }
  .sec3-slider img {
    width: 98%;
  }

  .sec3 {
    padding: 9.5rem 0 0;
  }

  .sec3-slider {
    margin-top: 6.5rem;
    margin-left: 1.3rem;
  }

  .slick-arrow {
    position: absolute;
    top: -5rem;
  }
  .slick-prev {
    left: inherit;
    right: 11.25rem;
  }
  .slick-next {
    right: 5.6rem;
  }

  /* cambios sec3 fin*/
  /* cambios sec4 */
  .sec4 h2 {
    text-transform: uppercase;
    margin-left: 3rem;
  }
  .box {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50vh;
    min-height: 50vh;
    margin-bottom: 2.5rem;
    margin-left: 1rem;
    margin-right: 1rem;
    overflow: hidden;
    border: 1px solid #fff;
  }
  .box h6 {
    /* font-family: ; */
    font-size: 1.5rem;
    font-weight: 400;
  }
  .box .img img {
    /* CAMBIE ESTO PARA QUE SE VEA CENTRADOPRE */
    width: 100%;
    height: 100%;
    object-fit: cover;
    align-items: center;
    object-position: center;
    /*  border: 1px solid #fff; */
    /* top: 5000px; */
  }
  .box .img2 img {
    /* cambie esto para que se vea bien la foto */
    object-position: 0 0;
  }
  /* cambios sec4 fin */
  /* footer cambios */
  footer {
    position: relative;
    padding: 0 0;
  }
  .footer-inner {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .footer-inner .col {
    padding-right: 10px;
  }
  footer ul {
    margin-left: 0px;
  }
  /* footer ul li {
     margin-bottom: 20px;
  } */
  footer ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 14px;
  }

  .footer-inner {
    display: flex;
    padding: 2% 1% 0rem 0;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .logo-2 {
    padding-bottom: 2rem;
    padding-right: 2rem;
    padding-left: 3rem;
  }
}
@media only screen and (max-width: 460px) {
  .banner {
    height: 100vh;
  }
  .banner .text {
    text-align: center;
    padding-bottom: -1rem;
    margin-bottom: -9vh;
  }
  .banner h1 {
    line-height: 10vh;
    font-weight: 300;
    font-size: 17vw;
  }

  .btn-primary {
    margin-left: auto;
    margin-right: auto;
  }
  footer {
    position: relative;
    padding: 0;
  }
  .footer-inner {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .footer-inner .col {
    padding-right: 10px;
  }
  footer ul {
    margin-left: px;
  }
  /*  footer ul li {
     margin-bottom: 20px;
  } */
  footer ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 12px;
  }

  .footer-inner {
    display: flex;
    padding: 2% 1% 0rem 0;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .logo-2 {
    font-family: "Walbaum 60pt", sans-serif;
    font-weight: 800;
    font-size: 17vw;
    letter-spacing: 1rem; /*Espaciado entre letra y letra */
    color: #f97822;
  }
}
@media only screen and (max-width: 400px) {
  .banner {
    height: 100vh;
  }
  .banner .text {
    text-align: center;
    padding-bottom: -1rem;
    margin-bottom: -20vh;
  }
  .banner h1 {
    line-height: 10vh;
    font-weight: 300;
    font-size: 17vw;
  }
  .leftlogo {
    font-size: 13vw;
  }
}
/* @media only screen and (max-width: 376px) {
  .banner {
    height: 100vh;
  }
  .banner .text {
    text-align: center;
    padding-bottom: -1rem;
    margin-bottom: -30vh;
  }
  .banner h1 {
    line-height: 3rem;
    font-weight: 300;
    font-size: 17vw;
  }
} */
